-- MySQL dump 10.13  Distrib 8.4.11, for Linux (x86_64)
--
-- Host: localhost    Database: amas_db
-- ------------------------------------------------------
-- Server version	8.4.11

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alertas_empresario`
--

DROP TABLE IF EXISTS `alertas_empresario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alertas_empresario` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data` datetime(6) DEFAULT NULL,
  `lido` bit(1) DEFAULT NULL,
  `mensagem` text COLLATE utf8mb4_unicode_ci,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `urgente` bit(1) DEFAULT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKixjxrp1wjaqxu7m7ck35gvg5k` (`usuario_id`),
  CONSTRAINT `FKixjxrp1wjaqxu7m7ck35gvg5k` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alertas_empresario`
--

LOCK TABLES `alertas_empresario` WRITE;
/*!40000 ALTER TABLE `alertas_empresario` DISABLE KEYS */;
INSERT INTO `alertas_empresario` VALUES (1,'2026-08-14 15:23:11.549896',_binary '','676767','XDDD',_binary '\0',2),(2,'2026-08-14 15:23:16.867190',_binary '','676767','123',_binary '',2);
/*!40000 ALTER TABLE `alertas_empresario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `associados`
--

DROP TABLE IF EXISTS `associados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `associados` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cpf` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_entrada` date DEFAULT NULL,
  `data_reset_solicit` datetime(6) DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `endereco` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `foto` longtext COLLATE utf8mb4_unicode_ci,
  `matricula` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nascimento` date DEFAULT NULL,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `primeiro_login` bit(1) DEFAULT NULL,
  `profissao` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reset_solicitado` bit(1) DEFAULT NULL,
  `senha` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `senha_expirada` bit(1) DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_4wxt9rins70grt7ob79s31d70` (`cpf`),
  UNIQUE KEY `UK_i8ns8rh2uk1jqdqop4t4mtkfs` (`email`),
  UNIQUE KEY `UK_5c05lffr5ay5tnmqjlei9obpm` (`matricula`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `associados`
--

LOCK TABLES `associados` WRITE;
/*!40000 ALTER TABLE `associados` DISABLE KEYS */;
/*!40000 ALTER TABLE `associados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contribuicoes`
--

DROP TABLE IF EXISTS `contribuicoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contribuicoes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `arquivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data` date DEFAULT NULL,
  `mes` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `msg_admin` text COLLATE utf8mb4_unicode_ci,
  `observacoes` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `valor` decimal(38,2) DEFAULT NULL,
  `associado_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhh8uibebp0pen03x5xqfcnq0` (`associado_id`),
  CONSTRAINT `FKhh8uibebp0pen03x5xqfcnq0` FOREIGN KEY (`associado_id`) REFERENCES `associados` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contribuicoes`
--

LOCK TABLES `contribuicoes` WRITE;
/*!40000 ALTER TABLE `contribuicoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `contribuicoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contribuicoes_empresario`
--

DROP TABLE IF EXISTS `contribuicoes_empresario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contribuicoes_empresario` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `aliquota_aplicada` decimal(38,2) DEFAULT NULL,
  `comprovante` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_comprovante` datetime(6) DEFAULT NULL,
  `data_criacao` datetime(6) DEFAULT NULL,
  `data_revisao` datetime(6) DEFAULT NULL,
  `faixa` int DEFAULT NULL,
  `isento` bit(1) DEFAULT NULL,
  `mes` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `obs_admin` text COLLATE utf8mb4_unicode_ci,
  `observacoes` text COLLATE utf8mb4_unicode_ci,
  `renda_bruta` decimal(38,2) DEFAULT NULL,
  `renda_liquida` decimal(38,2) DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `valor_devido` decimal(38,2) DEFAULT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKf56hd5t59l6xwysqg4ibjlyqn` (`usuario_id`),
  CONSTRAINT `FKf56hd5t59l6xwysqg4ibjlyqn` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contribuicoes_empresario`
--

LOCK TABLES `contribuicoes_empresario` WRITE;
/*!40000 ALTER TABLE `contribuicoes_empresario` DISABLE KEYS */;
/*!40000 ALTER TABLE `contribuicoes_empresario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos`
--

DROP TABLE IF EXISTS `eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eventos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data` date DEFAULT NULL,
  `descricao` text COLLATE utf8mb4_unicode_ci,
  `destaque` bit(1) DEFAULT NULL,
  `horario` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `inscricoes` int DEFAULT NULL,
  `local` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vagas` int DEFAULT NULL,
  `vagas_totais` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos`
--

LOCK TABLES `eventos` WRITE;
/*!40000 ALTER TABLE `eventos` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscricoes_evento`
--

DROP TABLE IF EXISTS `inscricoes_evento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscricoes_evento` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data_inscricao` datetime(6) DEFAULT NULL,
  `situacao` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `associado_id` bigint NOT NULL,
  `evento_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfo477lmletprw1r2wlntpovya` (`associado_id`),
  KEY `FK29mpe1ohynpfyoj0bgsa1cs1w` (`evento_id`),
  CONSTRAINT `FK29mpe1ohynpfyoj0bgsa1cs1w` FOREIGN KEY (`evento_id`) REFERENCES `eventos` (`id`),
  CONSTRAINT `FKfo477lmletprw1r2wlntpovya` FOREIGN KEY (`associado_id`) REFERENCES `associados` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscricoes_evento`
--

LOCK TABLES `inscricoes_evento` WRITE;
/*!40000 ALTER TABLE `inscricoes_evento` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscricoes_evento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_atividades`
--

DROP TABLE IF EXISTS `log_atividades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_atividades` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `acao` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data` datetime(6) DEFAULT NULL,
  `detalhes` text COLLATE utf8mb4_unicode_ci,
  `perfil` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1556 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_atividades`
--

LOCK TABLES `log_atividades` WRITE;
/*!40000 ALTER TABLE `log_atividades` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_atividades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensagens`
--

DROP TABLE IF EXISTS `mensagens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mensagens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `corpo` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `data` datetime(6) DEFAULT NULL,
  `destinatarios` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lidas_ids` text COLLATE utf8mb4_unicode_ci,
  `remetente` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensagens`
--

LOCK TABLES `mensagens` WRITE;
/*!40000 ALTER TABLE `mensagens` DISABLE KEYS */;
INSERT INTO `mensagens` VALUES (1,'Ol├í! Aqui voc├¬ acompanha sua situa├º├úo financeira, envia comprovantes e acessa novidades da associa├º├úo.','2026-01-10 09:00:00.000000','todos','1','Administrador AMAS','broadcast','Bem-vindo ao sistema AMAS!'),(2,'Mantenha suas contribui├º├Áes em dia para usufruir de todos os benef├¡cios da AMAS.','2026-03-05 08:00:00.000000','associados','1','Administrador AMAS','broadcast','Lembrete: contribui├º├Áes em aberto');
/*!40000 ALTER TABLE `mensagens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `noticias`
--

DROP TABLE IF EXISTS `noticias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `noticias` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `autor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `categoria` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `conteudo` text COLLATE utf8mb4_unicode_ci,
  `destaque` bit(1) DEFAULT NULL,
  `publicada_em` date DEFAULT NULL,
  `resumo` text COLLATE utf8mb4_unicode_ci,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `noticias`
--

LOCK TABLES `noticias` WRITE;
/*!40000 ALTER TABLE `noticias` DISABLE KEYS */;
/*!40000 ALTER TABLE `noticias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parcelas_atraso`
--

DROP TABLE IF EXISTS `parcelas_atraso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parcelas_atraso` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `mes` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `valor` decimal(38,2) DEFAULT NULL,
  `vencimento` date DEFAULT NULL,
  `associado_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKdherrtt9p5bbpvd7427f2jjh1` (`associado_id`),
  CONSTRAINT `FKdherrtt9p5bbpvd7427f2jjh1` FOREIGN KEY (`associado_id`) REFERENCES `associados` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parcelas_atraso`
--

LOCK TABLES `parcelas_atraso` WRITE;
/*!40000 ALTER TABLE `parcelas_atraso` DISABLE KEYS */;
INSERT INTO `parcelas_atraso` VALUES (1,'Fevereiro 2025',50.00,'2025-02-10',2),(2,'Mar├ºo 2025',50.00,'2025-03-10',2),(3,'Fevereiro 2025',50.00,'2025-02-10',3);
/*!40000 ALTER TABLE `parcelas_atraso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projetos`
--

DROP TABLE IF EXISTS `projetos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `projetos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `atualizado_em` date DEFAULT NULL,
  `categoria` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_inicio` date DEFAULT NULL,
  `destaque` bit(1) DEFAULT NULL,
  `icone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `participantes` int DEFAULT NULL,
  `resumo` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unidade_metrica` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projetos`
--

LOCK TABLES `projetos` WRITE;
/*!40000 ALTER TABLE `projetos` DISABLE KEYS */;
/*!40000 ALTER TABLE `projetos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitacoes`
--

DROP TABLE IF EXISTS `solicitacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `solicitacoes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cnpj` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cpf` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_solicitacao` date DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `endereco` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nascimento` date DEFAULT NULL,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `observacoes` text COLLATE utf8mb4_unicode_ci,
  `profissao` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsavel` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_solicitante` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_g5y36qp2b9m22inuprixfr6n4` (`email`),
  UNIQUE KEY `UK_9j208jsuacq6m9q393gttw3m4` (`cnpj`),
  UNIQUE KEY `UK_kpr544yqeetir7vc4b21adp9j` (`cpf`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitacoes`
--

LOCK TABLES `solicitacoes` WRITE;
/*!40000 ALTER TABLE `solicitacoes` DISABLE KEYS */;
INSERT INTO `solicitacoes` VALUES (1,NULL,'321.654.987-00','2025-03-12','fernanda@email.com','QR 110, Conjunto A - S├úo Sebasti├úo/DF',NULL,'Fernanda Lima',NULL,'Artes├ú',NULL,'Recusado','(61) 98765-4321','pessoa_fisica'),(2,NULL,'613.459.920-41','2026-08-12','e@gmail.com','1','2005-02-01','MAJIN BOO ANGOLANO','├ë BESTA','1',NULL,'Recusado','(61) 12312-3123','pessoa_fisica');
/*!40000 ALTER TABLE `solicitacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cnpj` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contrato` text COLLATE utf8mb4_unicode_ci,
  `data_reset_solicit` datetime(6) DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `perfil` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `primeiro_login` bit(1) DEFAULT NULL,
  `reset_solicitado` bit(1) DEFAULT NULL,
  `senha` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `senha_expirada` bit(1) DEFAULT NULL,
  `telefone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unidades` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_kfsp0s1tflm1cwlj8idhqsad0` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'amas_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-17 19:15:05
